<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
https://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="d1" class="com.vineet.Demo" autowire="constructor"/>

<bean id="a1" class="com.vineet.A"/>
<bean id="a6" class="com.vineet.A"/>
<bean id="b5" class="com.vinnet.B"/>


</beans>